.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  background-color: yellowgreen;
  color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  border: solid 2px yellow;
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

.btn_container_1
{
  display: flex;
  gap: 10px;

  button{
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }
}

.btn_container
{
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  gap: 10px;

  button{
    border-radius: 5px;
    padding: 3px;
    width: 100px;
    cursor: pointer;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
